img{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    display: block;
    margin: 10px;
    padding: 10px;
}

fieldset{
    height: 400px;
    width: 100px;
    margin: 50px;
    padding: 50px;

}

*{
    margin: 0;
    padding: 0;
}